{% extends 'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

<h2>{{article.article_title}}</h2>

<p>{{article.article_text}}</p>

<em>{{article.pub_date}}</em>

{% if article.was_published_recently %}
НОВАЯ СТАТЬЯ!
{% endif %}

<hr>

{% if latest_comments_list %}

	{% for c in latest_comments_list %}
		<p>
			<strong>{{c.author_name}}</strong>
			<p>{{c.comment_text}}</p>
		</p>
	{% endfor %}

{% else %}
Комментарии не найдены! Станьте первым ;)
{% endif %}

<hr>

<form action="{% url 'articles:leave_comment' article.id %}" method="POST">

	{% csrf_token %}
	
	<input type="text" required placeholder="Ваше имя" name="name"><br>
	<textarea name="text" required="" placeholder="Текст комментария" cols="30" rows="10"></textarea><br>

	<button type="submit">Оставить комментарий</button>

</form>
	
{% endblock %}